<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zk798.user.dao.common.AreaMapper" >

    <cache flushInterval="3600000"/>

    <resultMap id="BaseResultMap" type="com.zk798.user.pojo.Area">
        <result column="AreaId" property="areaId" jdbcType="INTEGER"/>
        <result column="AreaChName" property="areaChName" jdbcType="VARCHAR"/>
        <result column="AreaEnName" property="areaEnName" jdbcType="VARCHAR"/>
        <result column="ParentID" property="parentID" jdbcType="INTEGER"/>
        <result column="Patch" property="patch" jdbcType="VARCHAR"/>
        <result column="Layer" property="layer" jdbcType="VARCHAR"/>
        <result column="ParentIDs" property="parentIDs" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
            AreaId,
            AreaChName,
            AreaEnName,
            ParentID,
            Patch,
            Layer,
            ParentIDs
    </sql>



    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            <include refid="Base_Column_List" ></include>
        FROM
            Area(nolock)
        WHERE
            AreaId = #{areaId}
    </select>





</mapper>