<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zk798.user.dao.wfs.UserMapper" >

    <resultMap id="BaseResultMap" type="com.zk798.user.pojo.User">
        <id column="UserId" property="userId" jdbcType="VARCHAR"/>
        <result column="NickName" property="nickName" jdbcType="VARCHAR"/>
        <result column="TrueName" property="trueName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
            UserId,
            NickName,
            TrueName

    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            SWfsUser(nolock)
        WHERE
            UserId = #{userId}
    </select>



</mapper>